body {
  /*background-image: url("http://www.hackitz.ca/wallpaper/uploads/wallpapers/2011/04/24/98/19201080.jpg");*/
  background-image: url("http://www.hackitz.ca/wallpaper/uploads/wallpapers/2011/04/17/67/19201080.jpg");
  /*background-image: url('https://i.pinimg.com/474x/8e/a9/92/8ea992583465eea0289a7a144ca1c595--ufc-boxing-mma-ufc.jpg');*/
  /*background-image: url('https://wallpapercave.com/wp/wp2629762.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
}